{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    .cke_chrome{
        display: block;
        border: none;
        padding: 0;
       margin-right: -70px;
    }
    .cke_inner {
       display: block;
       background: #fff;
       padding: 0;
      -webkit-touch-callout: none;
      margin-right: 136px;
}
</style>
    <div class="content-section">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form.media }}
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>

{% endblock content %}